.coin-icon {
    width: 25px;
}

.nav-container {
    position: relative;
    margin: auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #363636;
    padding: 12px;
    margin: 12px;
    cursor: pointer;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background-color: #1a1a1a;
    z-index: 100;
}

.nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: hidden;
    border: 2px;
    border-style: hidden hidden solid hidden;
    border-bottom-color: #363636;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-color: #202020;
    border-radius: 50%;
    cursor: pointer;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-item:hover {
    color: #a9a9a9;
}

.banner {
    height: 200px;
    width: 100%;
    margin-top: 50px;
    justify-content: space-around;
    background-color: #2e2e2e !important;
}

.red {
    color: rgb(200, 0, 0);
}

.green {
    color: rgb(0, 170, 0);
}